**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*~
**/bin
**/obj
**/TestResults
**/packages
Dockerfile
README.md
*.user
*.suo
*.ps1
*.csproj.user
*.db
